<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Shopping List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add Item</h1>
	<div>
		<form th:object="${item}" th:action="@{save}" action="#" method="post">
			<label for="name">Name</label> <input type="text" id="name"
				th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="amount">Amount</label> <input type="text"
				th:field="*{amount}" />
			<div style="clear: both; display: block; height: 10px;"></div>
    		</select>
				
				
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>